@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: pari;
  src: url("/fonts/Parisienne-Regular.woff2") format("woff2");
}
@layer base {
  ::-webkit-scrollbar {
    width: 8px; /* width of the scrollbar */
    height: 12px; /* height of the scrollbar */
  }

  ::-webkit-scrollbar-thumb {
    background: #888; /* color of the scrollbar handle */
    border-radius: 6px; /* roundness of the scrollbar handle */
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* color of the scrollbar track */
  }

  ::-webkit-scrollbar-corner {
    background: #f1f1f1; /* color of the scrollbar corner */
  }
  .paris {
    font-family: pari;
  }
  .blog h2 {
    @apply text-3xl font-semibold text-black
  }
  .blog h3 {
    @apply text-2xl mt-10 font-semibold text-black
  }
  .blog ol {
    @apply list-disc ml-6 text-base space-y-2
  }
  .blog ul {
    @apply text-base
  }
}
