@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "switzer-med";
  font-style: normal;
  src: url(/fonts/swi-med.woff2) format("woff2");
}
@font-face {
  font-family: "switzer-reg";
  font-style: normal;
  src: url(/fonts/swi-reg.woff2) format("woff2");
}
@font-face {
  font-family: "paris-reg";
  font-style: normal;
  src: url(/fonts/paris-reg.woff2) format("woff2");
}
@layer base {
  ::-webkit-scrollbar {
    width: 8px; /* width of the scrollbar */
    height: 12px; /* height of the scrollbar */
  }

  ::-webkit-scrollbar-thumb {
    background: #888; /* color of the scrollbar handle */
    border-radius: 6px; /* roundness of the scrollbar handle */
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* color of the scrollbar track */
  }

  ::-webkit-scrollbar-corner {
    background: #f1f1f1; /* color of the scrollbar corner */
  }
  .paris {
    font-family: pari;
  }
  .form label {
    @apply mb-2 block text-sm font-medium text-gray-900;
  }
  .form input,
  textarea {
    @apply duration-200 w-full border-b bg-white px-2 py-2 outline-none transition-all ease-in placeholder:text-base placeholder:font-medium placeholder:text-gray-500 focus:placeholder:text-primary focus:border-primary
  }


  .blog h2 {
    @apply text-3xl font-semibold text-black
  }
  .blog h3 {
    @apply text-2xl mt-10 font-semibold text-black
  }
  .blog ol {
    @apply list-disc ml-6 text-base space-y-2
  }
  .blog ul {
    @apply text-base
  }
}
